.landing {
  background-image: url(../../images/background.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

button{
    background-color: rgb(230, 217, 42);
    width: 250px;
    height: 80px;
    border: 5px solid rgb(218, 180, 14);
    border-radius:5px;
    font-size: 1.2em;
    color:black;
    font-weight: bold;
    margin-top: 50%;
    margin-left: 38%;
    box-shadow: 5px 5px 20px rgb(250, 247, 95);
    transition: all 1s;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1)

}

h1{
    padding-top: 85px;
    margin-left: 45%;
    font-size: 3.3em;
}
