.App {
  width: 800px;
  text-align: center;
  margin: 20px auto;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 1px 3px lightgray;
  height: auto;
  padding: 20px;
}

.img {
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 1px 3px lightgray;
  padding: 5px;
  margin-bottom: 20px;
}

header {
  border: 1px solid rgba(211, 211, 211, 0.5);
  border-radius: 15px;
  box-shadow: 1px 1px lightgray;
  margin-bottom: 15px;
}
