.cases {
  width: 630px;
  float: left;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 15px 10px;
  text-align: center;
}

.message{
    color: white;
    text-align: center;
    font-size: 1.9em;
    margin: 5px auto;
    padding: 20px;
    background-color: rgba(1,1,1,.8);
}

img {
  width: 150px;
  margin-left: 5px;
  height:110px;
  transition: all 1s;
}

img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.left {
  float: left;
  width: 150px;
  height: 100vh;
  border: 3px solid black;
  background-color: rgba(1,1,1,0.6);
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
}

.right {
  float: left;
  width: 150px;
  border: 3px solid black;
  background-color: rgba(1,1,1,0.6);
  height: 100vh;
  padding: 15px 0;
}

.active {
  opacity: 0.3;
}

.caseVal{
    width: 120px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 3px;
    height: 35px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.left ul, .right ul{
    list-style: none;
    padding-left: 15px;
    text-align: center;
}

.yourCase{
    opacity: .5;
}
